/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body {
	margin: 0;
	padding: 0;
}

* {
    box-sizing: border-box;
}

#header {
	padding-top: 50px;
	text-align: center;
	height: 200px;
	background-color:  rgb(221, 224, 226);
	color:  rgb(36, 134, 180);
  }

#header h1 {
	text-align: center;
	font-size: 48px;
	font-weight: 800;
  }

#nav-bar {
	padding: 8px;
	position: fixed;
	overflow: hidden; 
	width: 100%;
	margin:0px;
	height: 45px;
	top: 0;
	left: 0;
	background-color: rgb(161, 165, 168);
}

#nav-bar a {
	float: right;
	display: block;
	color:#fff;
	text-align: center;
	padding: 1px 25px;
	text-decoration: none;
	font-weight: 600;
	font-size: 22px;
}

@media (max-width: 360px) {
	#nav-bar a {
		font-size: 16px;
		padding: 5px 15px;
	}
	
  }

