html, body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

#header {
	padding-top: 50px;
	text-align: center;
	height: 200px;
	background-color: rgb(78, 90, 117);
	color:  #fff;
  }

#header h1 {
	text-align: center;
	font-size: 48px;
	font-weight: 800;
  }

#nav-bar {
	padding: 8px;
	position: fixed;
	overflow: hidden; 
	width: 100%;
	margin:0px;
	height: 45px;
	top: 0;
	left: 0;
	background-color: rgb(78, 90, 117);
}

#nav-bar a {
	float: right;
	display: block;
	color:#fff;
	text-align: center;
	padding: 1px 25px;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
}

@media (max-width: 360px) {
	#nav-bar a {
		font-size: 16px;
		padding: 5px 10px;
	}
  }

.game-image img {
	width: 60%;
	box-shadow: 8px 8px 8px 0 rgba(8, 2, 0, 0.4), 8px 6px 20px 0 rgba(8, 0, 2, 0.4);
  } 

  #about {
	display: flex;
	flex-wrap: wrap;
	font-size: 30px;
	text-align: center;
  }
  
  .description {
	background-color: #f1f1f1;
	padding: 50px;
	flex: 50%;
  }
  
  .game-image {
	background-color: #f1f1f1;
	padding: 30px 5px;
	flex: 50%;
  }

  @media (max-width: 800px) {
	.description, .game-image {
	  flex: 100%;
	}
  }


